/* Coolors Exported Palette - coolors.co/26547c-ef476f-ffd166-06d6a0-fcfcfc-efefef */
/* Notorious RGB */
$night-blue: rgba(38, 84, 124, 1);
$pink-red: rgba(239, 71, 111, 1);
$yellow: rgba(255, 209, 102, 1);
$lt-green: rgba(6, 214, 160, 1);
$near-white: rgba(252, 252, 252, 1);
$light-grey: rgba(239, 239, 239, 1);


/* temporary bg greys so i can see what's what, chicken butt*/
$temp-bg-1: #fcf7ff;
$temp-bg-2: #ccc4d1;
$temp-bg-3: #8b868e;
$temp-bg-4: #9d94a3;
$temp-bg-5: #605566;

$body-bg: $light-grey;
