// HEADERS	2-6					font-family: 'Shadows Into Light Two', cursive;
// NAV AND CREDITS AT FOOTER	font-family: 'Covered By Your Grace', cursive;
// REGULAR TEXT					font-family: 'Roboto', sans-serif;

@import 'variables';

.temp-bg-header{
	background: $temp-bg-2;
}
.temp-bg-home{
	background: $temp-bg-1;
}
.temp-bg-footer{
	background: $temp-bg-3;
}

body {
  // background: $light-grey;
  background: red; //just while i'm playing with the box model
  margin: 0.25em;
}

h1{
	font-family: 'Covered By Your Grace', cursive;
}


 h2, h3, h4, h5, h6 {
 	font-family: 'Shadows Into Light Two', cursive;
 }
p{
	font-family: 'Roboto', sans-serif;
}
.scrambledWithEggs{
	font-size: 10em;
	margin: 0.2em;
	color: $yellow;
	text-shadow: 2px 2px 5px #000;
}
.headerWithEggs{
	background: $night-blue;
}