// HEADERS	2-6					font-family: 'Shadows Into Light Two', cursive;
// NAV AND CREDITS AT FOOTER	font-family: 'Covered By Your Grace', cursive;
// REGULAR TEXT					font-family: 'Roboto', sans-serif;

@import 'variables';

.temp-bg-header{
	background: $temp-bg-2;
}
.temp-bg-home{
	background: $temp-bg-1;
}
.temp-bg-footer{
	background: $temp-bg-3;
}
.tempPlanningInstructions {
	color: grey;
	font-size: 0.2em;
}
//********************************//
//      GRID SYSTEM   BASICS      //
//********************************//
.container{
  width: 100%;
  box-sizing: border-box;
}
.row:before, 
.row:after {
	content:"";
	display: table ;
	clear:both;
}
[class*='col-']{
/*   float: left; */
  min-height: 1px;
  padding: 8px 0;
}
.col-1, .col-3, .col-6 {
  width: 100%;
  float: left;
}
//***************************//
//       MOBILE FIRST        //
//***************************//
html{
	font-family: 'Roboto', sans-serif;
}
body {
  background: $light-grey;
  // background: red; //just while i'm playing with the box model
  margin: 0.25em;
}

h1{
	font-family: 'Covered By Your Grace', cursive;
}


 h2, h3, h4, h5, h6 {
 	font-family: 'Shadows Into Light Two', cursive;
 }
p{
	font-family: 'Roboto', sans-serif;
}
button{
	font-family: 'Covered By Your Grace', cursive;
	letter-spacing: 2px;
}
h2 {
	font-size: 1em;
}
a{
	text-decoration: none;
}
.scrambledWithEggs{
	font-size: 3em;
	margin: 0.2em;
	color: $yellow;
	
}
.headerWithEggs{
	background: $night-blue;
	text-align: center;
	h1{
		display: inline-block;
	}
	img{
		width: 40px;
	}
}
.footer{
	position:fixed;
	left:0px;
	bottom:0px;
	width:100%;
	height: 3.44em;
	padding-bottom: 0.5em;
}
.credits{
	background: $yellow;
	font-size: 0.75em;
	text-align: center;
	box-sizing: border-box;
}
.copyright{
	display:inline-block;
	p{
		margin-right: 1em;
	}
}
.logo{
	display: inline-block;
	width: 50px;
	height: 40px;
	margin: 0.5em;
	padding-top: 10px;
	border-radius: 50px;
	background: #efefef;
	img{
		width: 30px;
	}
}
.eggBtnHldr{
	text-align: center;
	margin: 2em auto;

}
.btnEgg{
	font-family: 'Covered By Your Grace', cursive;
	letter-spacing: 2px;
	color: $pink-red;
	width: 126px;
	height: 180px;
	margin: 1em 0.5em;
	border: none;
	-webkit-border-radius: 63px 63px 63px 63px / 108px 108px 72px 72px;
	border-radius:         50%  50%  50%  50%  / 60%   60%   40%  40%;
	background-image: radial-gradient(farthest-corner at 45px 64px, #F1E3CC 14%, #E2C698 40%, #C4957F 82%);
	&:hover{
		letter-spacing: 4.5px; 
		text-shadow: 1px 1px $night-blue;
		-moz-box-shadow: 0 0 10px 2px $night-blue;
		-webkit-box-shadow: 0 0 10px 2px $night-blue;
		box-shadow: 0 0 10px 2px $night-blue;
	}
}


.btnEggHome{
	width: 65.83px;
	height: 93px;
	border: none;
	-webkit-border-radius: 63px 63px 63px 63px / 108px 108px 72px 72px;
	border-radius:         50%  50%  50%  50%  / 60%   60%   40%  40%;
	background-image: radial-gradient(farthest-corner at 28px 24px, #F1E3CC 14%, #E2C698 40%, #C4957F 82%);
	margin-bottom: 6em;
	margin-top: 1em;
}
.guncannoli {
	text-align: center;
	width: 350px;
	background: #c6f2ec;
	margin-bottom: 5em;
	background: -moz-linear-gradient(top, #c6f2ec 0%, #c6f2ec 30%, #c6f2ec 34%, #f2cb91 49%, #b68d4c 85%, #211e14 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, #c6f2ec), color-stop(30%, #c6f2ec), color-stop(34%, #c6f2ec), color-stop(49%, #f2cb91), color-stop(85%, #b68d4c), color-stop(100%, #211e14));
	background: -webkit-linear-gradient(top, #c6f2ec 0%, #c6f2ec 30%, #c6f2ec 34%, #f2cb91 49%, #b68d4c 85%, #211e14 100%);
	background: -o-linear-gradient(top, #c6f2ec 0%, #c6f2ec 30%, #c6f2ec 34%, #f2cb91 49%, #b68d4c 85%, #211e14 100%);
	background: -ms-linear-gradient(top, #c6f2ec 0%, #c6f2ec 30%, #c6f2ec 34%, #f2cb91 49%, #b68d4c 85%, #211e14 100%);
	background: linear-gradient(to bottom, #c6f2ec 0%, #c6f2ec 30%, #c6f2ec 34%, #f2cb91 49%, #b68d4c 85%, #211e14 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c6f2ec', endColorstr='#211e14', GradientType=0 );
	img{
		width: 300px;
	}
}
.biggerboat {
	// text-align: center;
	img{width: 350px;}
	// margin: 1em auto;
}
//***************************//
//          PHABLET          //
//***************************//
@media (min-width: 480px) {
	.headerWithEggs{
		img{
			width: 60px;
		}
	}
	.scrambledWithEggs{
		font-size: 4.5em;
	}
	h2 {
		font-size: 1.5em;
	}
	.btnEgg{
		margin: 0 2em;
	}
}
//***************************//
//          TABLET           //
//***************************//
@media (min-width: 768px) {
	.headerWithEggs{
		img{
			width: 80px;
			margin: 0 2.2em;
		}
	}
	.scrambledWithEggs{
		font-size: 6em;
	}
	h2 {
		font-size: 2em;
	}
	.btnEgg{
		margin: 0 3em;
	}
}
//***************************//
//          LAPTOP           //
//***************************//
@media (min-width: 1200px) {
	.headerWithEggs{
		letter-spacing: 5px;
		text-shadow: 2px 2px 5px #000;
		img{
			width: 125px;
			margin: 0 5px;
		}
	}
	.scrambledWithEggs{
		font-size: 7em;
	}
	h2 {
	font-size: 3em;
	}
	.btnEgg{
		margin: 0 5em;
	}
}







